.env
.git
.github
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.venv
venv
.dockerignore
Dockerfile
README.md
CONTRIBUTING.md
LICENSE.md
.devcontainer
docs/
temp/
images/